body {
    background-color: lightgoldenrodyellow;
    margin: 0px;
    padding: 0px
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
nav{
	margin:0px;
	z-index:99;
}
.menu {
	position: absolute;
}
.menu li{
	float: left;
	list-style:none;
}
li a{
	color:#000;
	text-decoration:none;
	display:block;
}
li a:hover{
	background-color:white;
}